.body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.img {
    height: 15%;
    width: 15%;
    margin-bottom: 20px;
    margin-left: 41%;
    
}
input {
    width: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.login {
    width: 224px;
}
.center {
    margin-left: 40%;
}
.font {
    margin-left: 3%;
    font-family: 'Courier New', Courier, monospace;
    
}
